{% load staticfiles%}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=7">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lily+Script+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
	<script src="{% static 'js/scripts.js'%}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Seaweed+Script&display=swap" rel="stylesheet">
	{% block styles%} {% endblock%}
</head>

<body style="background-color: black; color:white; text-align: center; vertical-align: middle;">
	
		<div>
			<div>
					<h1>
							“
					</h1>

					<h1 style="font-family: 'Seaweed Script', cursive; font-size: 60px;">We all have neighbors. Greet them on the sidewalk or in the elevator, but try not to peer through their windows. Windows are to look out from, not into.</h1>     
					
					<h6>Alexandra Stoddard</h6>
			</div>
				<div>
						<img src="{% static "images/pexels-photo-280221.jpeg" %}" width="1000px" height="600px" alt="My image"/>
				</div>
				<div  class="row" id="socials">
					
					<div class="col-md-2">
						
					</div>
						<a class="
						col-md-2" style="color:white;" href="{% url 'profile'%}">
							<i class="far fa-user" style="margin: 30px; font-size:30px;"></i>
						</a>
						<a class="
						col-md-2" style="color:white;" href="{% url 'briefcase'%}">
							<i class="fa fa-briefcase" aria-hidden="true" style="margin: 30px; font-size:30px;"></i>
						</a>
						<a class="
						col-md-2" style="color:white;" href="{% url 'medkit'%}">
							<i class="fa fa-medkit" aria-hidden="true" style="margin: 30px; font-size:30px;"></i>
						</a>
						<a class="
						col-md-2" style="color:white;" href="{% url 'police'%}">
							<span class="iconify" style="margin: 30px; font-size:30px;" data-icon="map-police" data-inline="false"></span>
						</a>
						<div class="col-md-2">
							
						</div>
				</div>
				
			
		</div>
	
</body>

</html>