{% load staticfiles%}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=7">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lily+Script+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
	<script src="{% static 'js/scripts.js'%}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	{% block styles%} {% endblock%}
</head>

<body style="background-color: black; color:white; text-align: center; vertical-align: middle;">
	<div class="row"><h1 style="text-align:center;">Restaurants</h1></div>	
	<div class="w3-row-padding">
				<div class="w3-col s4">
						<img src="{% static "images/4b0bee410ca56555aef0a571e6a96c9d.jpg" %}" width="500px" height="500px" alt="My image"/>
				</div>
				<div class="w3-col s4">
						<img src="{% static "images/c84bbd8a15e0ae1a01f039047ff77d30.jpg" %}" width="500px" height="500px" alt="My image"/>
				</div>
				<div class="w3-col s4">
						<img src="{% static "images/RESTAURAUNT-owners.png" %}" width="500px" height="500px" alt="My image"/>
				</div>
			  </div>
	
			  <div class="row"><h1 style="text-align:center;">Massage Therap1 Spas</h2></div>	
	<div class="w3-row-padding">
				<div class="w3-col s4">
						<img src="{% static "images/4daadaae81437ba44d51f4997073c341.jpg" %}" width="500px" height="500px" alt="My image"/>
				</div>
				<div class="w3-col s4">
						<img src="{% static "images/eeac235b582816598a2541c6bb1e603f.jpg" %}" width="500px" height="500px" alt="My image"/>
				</div>
				<div class="w3-col s4">
						<img src="{% static "images/massagelocalbusiness.jpg" %}" width="500px" height="500px" alt="My image"/>
				</div>
			  </div>
			  
			  <div class="row"><h1 style="text-align:center;">Cafe/Coffee Sp1t</h2></div>	
	<div class="w3-row-padding">
				<div class="w3-col s4">
						<img src="{% static "images/03674b360bfff3d59b0f0e6d190910c6.jpg" %}" width="500px" height="500px" alt="My image"/>
				</div>
				<div class="w3-col s4">
						<img src="{% static "images/coffee-shops.png" %}" width="500px" height="500px" alt="My image"/>
				</div>
				<div class="w3-col s4">
						<img src="{% static "images/efa62acd298a36121b5f3ded41d7c0d0.jpg" %}" width="500px" height="500px" alt="My image"/>
				</div>
			  </div>
			  
			  <div class="row"><h1 style="text-align:center;">Fashion Boutiq1e/Clothing Store</h2></div>	
	<div class="w3-row-padding">
				<div class="w3-col s4">
						<img src="{% static "images/c86a11882d18a00bad22aa00d63d028c.jpg" %}" width="500px" height="500px" alt="My image"/>
				</div>
				<div class="w3-col s4">
						<img src="{% static "images/f11a37c5454b4d06683f5a08423c6075.jpg" %}" width="500px" height="500px" alt="My image"/>
				</div>
				<div class="w3-col s4">
						<img src="{% static "images/fashion-boutique-owner.png" %}" width="500px" height="500px" alt="My image"/>
				</div>
			  </div>
			  
			  <div class="row"><h1 style="text-align:center;">Hair/Nail Salo1s</h2></div>	
	<div class="w3-row-padding">
				<div class="w3-col s4">
						<img src="{% static "images/7b26dabcd682dc43084371cedb07cbe4.jpg"  %}" width="500px" height="500px" alt="My image"/>
				</div>
				<div class="w3-col s4">
						<img src="{% static "images/922256e54ba617ac482b7bc7b8792f3c.jpg" %}" width="500px" height="500px" alt="My image"/>
				</div>
				<div class="w3-col s4">
						<img src="{% static "images/hair-salon-owner.png" %}" width="500px" height="500px" alt="My image"/>
				</div>
			  </div>
			  
</body>

</html>